*{
    padding:0;
    margin:0;
  }
  
  body{
    background:rgb(196, 155, 155);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .btn{
    width:250px;
    height:45px;
    border-radius:45px;
    margin-right: 20px;
    cursor:pointer;
    border:none;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:bold;
    box-shadow:0px 8px 15px rgba(0,0,0,0.1);
    transition:all 0.3s ease;
  }
  
  .btn:hover{
    background:#2ceae5;
    transform:translateY(-7px);
    color:#fff;
    box-shadow:0px 10px 25px rgba(46,223,229,0.445);
    
  }